@{
    ViewData["Title"] = "HOME PAGE";
}

<style>
    img {
        width: 120px;
        height: 120px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Overtime Manager web application made by Group 2.</p>
    <img src="~/assets/images/logo.png" />
</div>
