
@{
    ViewData["Title"] = "login";
    Layout = "_LayoutLogin";

}

<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <!-------Image-------->
                <img src="images/white.png" alt="">
                
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Sign into your account</header>
                    <div class="input-field">
                        <input type="text" class="input" id="user" required autocomplete="off">
                        <label for="user"> Username</label>
                        <small></small>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" required>
                        <label for="password">Password</label>
                        <small></small>
                    </div>
                    <div class="input-field inpSubmit">
                        <input type="submit" class="submit" value="Sign In">

                    </div>
                    <div class="signin">
                        <span>Don't have an account? <a asp-controller="Home" asp-action="register"> Register here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
   

</script>
