@{
    ViewData["Title"] = "Privacy polity";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>PrivacyPolicy</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- ======= Privacy Section ======= -->
    <section class="privacy-policy blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/images/privacy/1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/">Protect user's personal information</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Nguyen Ngoc Hiep</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Sites looking for part-time jobs must comply with regulations regarding the protection of users' personal information. The privacy policy must ensure that the user's personal information is protected and not shared with any third parties.
                            </p>

                        </div>
                    </article>
                    <!-- End Privacy entry -->

                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/images/privacy/2.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/">
                                Use cookies
                            </a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Nguyen Ngoc Hiep</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                The part-time job site may use cookies to collect information about the user's browsing behavior. However, the website must provide users with information about the use of cookies and allow users to choose not to use cookies if they so choose. Tempora nam odit omnis eum corrupti qui aliquid excepturi molestiae. Facilis et sint quos sed voluptas. Maxime sed tempore enim omnis non alias odio quos distinctio.
                            </p>

                        </div>
                    </article>
                    <!-- End Privacy entry -->

                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/images/privacy/3.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/">Protect login information</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Nguyen Ngoc Hiep</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Sites looking for part-time jobs must ensure that the user's login information is protected and not exposed.
                            </p>

                        </div>
                    </article>
                    <!-- End Privacy entry -->

                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/images/privacy/4.png" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/">Confirm your identity.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Nguyen Ngoc Hiep</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Part-time job sites may ask users to confirm their identity before registering or logging in. This helps ensure that only authorized users can access their personal information.
                            </p>

                        </div>
                    </article>
                    <!-- End Privacy entry -->

                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/images/privacy/50.png" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/">
                                Privacy Policy in effect
                            </a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Nguyen Ngoc Hiep</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Websites looking for part-time jobs should have a clear and effective privacy policy. Users should be informed of this privacy policy and the website must ensure that the terms are fully complied with.
                            </p>

                        </div>
                    </article>
                    <!-- End Privacy entry -->
                </div>
                <!-- End Privacy entries list -->
            </div>
        </div>
    </section>
    <!-- End Privacy Section -->
</main>