@{
    ViewData["Title"] = "Terms of service";
}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs unselect">
    <div class="container">
        <h1>Terms Of Service</h1>
    </div>
</section>
<!-- End Breadcrumbs -->

<div class="container">
    <div class="terms-of-service">
        <!-- Đoạn điều khoản -->
        <p class="fs-3">Welcome to our terms of service page. By accessing and using our website, you agree to abide by the following terms and conditions:</p>

        <h2 class="fs-4">1. General Terms</h2>

        <p>
            This website is for employee management purposes only and may not be used for any other personal or commercial purposes.
            All information provided on this website is accurate and complete. However, we are not responsible for any omissions or errors.
            We reserve the right to change any content or information on this website without prior notice.
        </p>

        <h2 class="fs-4">2. Use the service</h2>

        <p>
            Users must comply with all applicable laws and regulations regarding the use of this website.
            It is the user's responsibility to protect the login information and not to share it with anyone else.
            We reserve the right to restrict or terminate a user's access if we discover a violation of any of the website's regulations.
        </p>
        <h2 class="fs-4">3. Content on the website</h2>

        <p>
            We are not responsible for any user-submitted content on the website.
            We reserve the right to remove any content deemed inappropriate or illegal.
        </p>
        <h2 class="fs-4">4. Responsibility</h2>
        <p>
            We are not responsible for any damages arising from the use of this website, including but not limited to direct, indirect, incidental or special damages.
            We do not guarantee that this website will operate continuously, securely and without errors or interruptions.
        </p>
        <h2 class="fs-4">5. License </h2>
        <p>All content on this website is protected by copyright and belongs to us or its owners.</p>

        <h2 class="fs-4">6. Links to other websites </h2>
        <p>
            This website may contain links to other websites that are not owned or operated by us. We are not responsible for any content or information on these websites.
            We are not responsible for any loss or damage arising from the use of these links.
        </p>

        <h2 class="fs-4">7. Change and Termination </h2>
        <p>We reserve the right to change or amend any part of these Terms and Conditions by updating this page without prior notice to you. You should check this page regularly to stay up to date with those changes. By continuing to access or use the Website after these changes are posted, you agree to be bound by those changes. In addition, we reserve the right to terminate or suspend the provision of the Website or any service or feature on the Website at any time without prior notice to you. We will not be liable to you or any third party in the event of any termination or suspension of the provision of the Website or any services or features on the Website.</p>
        <h2 class="fs-4">8.Applicable law </h2>
        <p>
            This website complies with applicable laws and regulations of Vietnam.
            Any dispute arising from the use of this website will be resolved by means of mediation and dispute resolution in accordance with the laws of Vietnam.
        </p>

        <h2 class="fs-4">9. Contact</h2>
        <p>If you have any questions or concerns regarding the terms and conditions of use of the website, please contact us using the contact information provided at the bottom of the website.</p>
        <!-- Hết Đoạn điều khoản -->
    </div>
</div>