<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="/assets/images/logo/logo-circle.png" alt="Logo OvertimeManager" width="32" height="32" class="d-inline-block align-text-top" />
            OM
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="OvertimeManager" asp-action="Index">Overtime Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="OvertimeManager" asp-action="Index">WorkingShift Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="OvertimeManager" asp-action="Index">Overtime WorkingShift Manager</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">JobPosition Manager</a></li>
                        <li><a class="dropdown-item" href="#">Organization Manager</a></li>
                        <li><a class="dropdown-item" href="#">Employee Manager</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right d-flex align-items-center">
                <div class="icon-notification"></div>
                <div class="icon-support"></div>
                <div class="icon-more"></div>
                <div class="avatar">
                    <img src="/assets/images/logo/logo-circle.png" alt="avatar" width="32" height="32" />
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar {
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
        background-color: var(--color-white) !important;
        height: var(--header-height);
    }

    .navbar-brand {
        padding-left: 0px !important;
        margin-right: 32px !important;
        font-size: 20px !important;
    }

    .navbar-brand:hover {
        color: var(--color-resolution-blue) !important;
    }

    .navbar-brand img {
        margin-right: 10px;
    }

    .nav-item .nav-link {
        padding-left: 10px !important;
        padding-right: 24px !important;
        color: var(--color-black) !important;
    }

    .nav-link.active {
        color: var(--color-primary) !important;
    }

    .nav-item:hover .nav-link {
        color: var(--color-primary) !important;
    }

    .navbar-right {
        background-color: var(--color-white);
    }

    .navbar-right div[class^="icon"] {
        margin: 0 12px;
    }

    .navbar-right div[class^="icon"]:hover {
        background-color: var(--color-primary);
    }

    .avatar {
        cursor: pointer;
        margin-left: 18px;
    }
</style>