@model OVERTIME.MANAGER.MAIN.Models.JobPosition

@using OVERTIME.MANAGER.MAIN.ViewModels;

@{
    ViewData["Title"] = "Quản lý vị trí công việc";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    var navigatorActive = new NavigatorActive { navigatorActive = "EmployeeManager" };
}

@section header
    {
        <partial name="~/Views/OvertimeManager/_HeaderOM.cshtml" model="navigatorActive" />
}


<main class="container-fluid overtime-main">
    <div class="overtime-wrapper py-3">
        <!-- Heading -->
        <div class="overtime-heading d-flex align-items-center justify-content-between pb-3">
            <div class="heading-left">
                <a asp-action="JobPositionManager" asp-controller="OvertimeManager"><i class="fa-solid fa-arrow-left"></i></a>
                <div class="fs-5 fw-bold heading-title"> Job Position Edit</div>
            </div>
            <div class="btn-group-wrapper">
                <a type="button" class="btn btn-danger btn-add" asp-controller="OvertimeManager" asp-action="JobPositionManager">
                    <span>Cancel</span>
                </a>
            </div>
        </div>

        <!-- Content -->
        <div class="overtime-container-detail overtime-container-add">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="EditJobPositionManager">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="JobPositionId" />
                        <div class="form-group">
                            <label asp-for="JobPositionCode" class="control-label"></label>
                            <input asp-for="JobPositionCode" class="form-control" />
                            <span asp-validation-for="JobPositionCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobPositionName" class="control-label"></label>
                            <input asp-for="JobPositionName" class="form-control" />
                            <span asp-validation-for="JobPositionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedDate" class="control-label"></label>
                            <input asp-for="CreatedDate" class="form-control" />
                            <span asp-validation-for="CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label"></label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModifiedDate" class="control-label"></label>
                            <input asp-for="ModifiedDate" class="form-control" />
                            <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModifiedBy" class="control-label"></label>
                            <input asp-for="ModifiedBy" class="form-control" />
                            <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>