@using OVERTIME.MANAGER.MAIN.ViewModels;

@{
    ViewData["Title"] = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@{
    var navigatorActive = new NavigatorActive { navigatorActive = "EmployeeManager" };
}

@section header
{
    <partial name="~/Views/OvertimeManager/_HeaderOM.cshtml" model="navigatorActive" />
}

<h1>EmployeeManager</h1>

