@using OVERTIME.MANAGER.MAIN.ViewModels;

@{
    ViewData["Title"] = "MAIN";
    Layout = "_LayoutDefault";
}

@{
    var navigatorActive = new NavigatorActive { navigatorActive = "Index" };
}

@section header
{
    <partial name="~/Views/OvertimeManager/_HeaderOM.cshtml" model="navigatorActive" />
}

<main class="container-fluid overtime-main">
    <div class="overtime-wrapper py-3">
        <!-- Heading -->
        <div class="overtime-heading d-flex align-items-center justify-content-between pb-3">
            <div class="fs-5 fw-bold">Register Overtime</div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a type="button" class="btn btn-primary btn-add" asp-controller="OvertimeManager" asp-action="OvertimeDetail">
                    <i class="fa-solid fa-plus"></i>
                    <span>Add</span>
                </a>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa-solid fa-file-import"></i>
                                <span class="ml-8">Import</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Content -->
        <div class="overtime-content flex-row align-items-center justify-content-between">
            <!-- Toolbar -->
            <div class="row overtime-toolbar d-flex align-items-center justify-content-between">
                <div class="col-5 col-md-6 overtime-toolbar-left d-flex align-items-center">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>

                <div class="col-7 col-md-6 justify-content-end overtime-toolbar-right d-flex align-items-center">
                    <div class="d-flex align-items-center status-wrapper">
                        <span>Status</span>
                        <div class="dropdown selectbox">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                All
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item active" href="#">All</a></li>
                                <li><a class="dropdown-item" href="#">Pending</a></li>
                                <li><a class="dropdown-item" href="#">Approved</a></li>
                                <li><a class="dropdown-item" href="#">Refused</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown dropdown-outline-primary dropdown-organization mr-8">
                        <button class="btn dropdown-toggle btn-organization" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            All Organizations
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item active" href="#">All Organizations</a></li>
                            <li><a class="dropdown-item" href="#">Ngoại Giao Đoàn</a></li>
                            <li><a class="dropdown-item" href="#">Cầu Giấy</a></li>
                            <li><a class="dropdown-item" href="#">Hoàng Mai</a></li>
                        </ul>
                    </div>

                    <button class="btn btn-outline-primary mr-8" type="button">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </button>

                    <button class="btn btn-outline-primary mr-8" type="button">
                        <i class="fa-solid fa-filter"></i>
                    </button>

                    <button class="btn btn-outline-primary mr-8" type="button">
                        <i class="fa-solid fa-file-export"></i>
                    </button>

                    <button class="btn btn-outline-primary" type="button">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </div>
            </div>

            <!-- Table -->
            <div class="overtime-table">
                <table class="table table-hover">
                    <thead class="unselect">
                        <tr>
                            <th>
                                <input type="checkbox" />
                            </th>
                            <th width="140px">Employee Code</th>
                            <th width="180px">Employee Name</th>
                            <th width="120px">JobPosition</th>
                            <th width="140px">Organization</th>
                            <th>Apply Date</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Overtime WorkingShift</th>
                            <th>WorkingShift</th>
                            <th>Reason</th>
                            <th>Approval</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>NV1</td>
                            <td>Nguyễn Ngọc Hiệp</td>
                            <td>Lập trình viên</td>
                            <td>Ngoại Giao Đoàn</td>
                            <td>10/01/2023</td>
                            <td>08/03/2023</td>
                            <td>10/03/2023</td>
                            <td>Sau ca</td>
                            <td>Ngoài giờ</td>
                            <td>Cải thiện năng suất</td>
                            <td>Nguyễn Ngọc Hiệp</td>
                            <td></td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>NV2</td>
                            <td>Nguyễn Phương Bắc</td>
                            <td>Lập trình viên</td>
                            <td>Cầu Giấy</td>
                            <td>10/01/2023</td>
                            <td>08/03/2023</td>
                            <td>10/03/2023</td>
                            <td>Sau ca</td>
                            <td>Ngoài giờ</td>
                            <td>Cải thiện năng suất</td>
                            <td>Nguyễn Ngọc Hiệp</td>
                            <td></td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>NV3</td>
                            <td>Mai Duy Chinh</td>
                            <td>Lập trình viên</td>
                            <td>Hoàng Mai</td>
                            <td>10/01/2023</td>
                            <td>08/03/2023</td>
                            <td>10/03/2023</td>
                            <td>Sau ca</td>
                            <td>Ngoài giờ</td>
                            <td>Cải thiện năng suất</td>
                            <td>Nguyễn Ngọc Hiệp</td>
                            <td></td>
                            <td>Đã duyệt</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Pagination-->
            <div class="overtime-pagination d-flex align-items-center justify-content-between">
                <div class="pagination-total">Tổng số bản ghi: <b>3</b></div>
                <div class="pagination-paging d-flex align-items-center">
                    <div class="dropdown mr-20">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            15
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item active" href="#">15</a></li>
                            <li><a class="dropdown-item" href="#">25</a></li>
                            <li><a class="dropdown-item" href="#">50</a></li>
                            <li><a class="dropdown-item" href="#">100</a></li>
                        </ul>
                    </div>
                    <div class="from-to-record mr-20">
                        Từ <b>1</b> đến <b>15</b> bản ghi
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .overtime-main {
        background-color: var(--color-gallery) !important;
        width: 100%;
        overflow: auto;
        height: calc(100vh - var(--header-height)) !important;
    }

    .overtime-wrapper {
        height: calc(100%) !important;
    }

    .overtime-heading {
        width: 100%;
        height: 54px !important;
    }

    .overtime-content {
        width: 100%;
        background-color: var(--color-white);
        border-radius: 4px;
        height: calc(100% - 54px) !important;
        box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.1);
    }

    .overtime-toolbar {
        width: 100%;
        padding: 12px;
        margin-left: 0;
    }

    .overtime-toolbar-left {
        padding-left: 0;
    }
    
    .overtime-toolbar-right {
        padding-right: 0;
    }

    .overtime-toolbar input {
        width: 320px;
    }

    .status-wrapper {
        margin-right: 50px;
    }

    .btn-add {
        position: relative;
    }

    .btn-add span {
        margin: 0 4px;
    }

    .btn-add::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: 1px;
        background-color: var(--color-white) !important;
    }

    .selectbox .btn.dropdown-toggle {
        border: none !important;
    }

    .dropdown-organization {
        border: 1px solid var(--color-primary) !important;
        border-radius: 8px;
        width: 320px;
    }

    .btn-organization {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .overtime-table {
        width: 100%;
        height: calc(100% - 46px - 62px);
        overflow: auto;
    }

    .overtime-table table {
        overflow: auto;
        min-width: max-content;
    }

    .overtime-table::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: var(--border-color);
    }

    .overtime-table::-webkit-scrollbar-thumb {
        background: #ccc !important;
        border-radius: 8px;
    }

    .overtime-table::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2) !important;
    }

    .overtime-table th:first-child input,
    .overtime-table td:first-child input {
        width: 16px;
        height: 16px;
    }

    .overtime-table th:first-child,
    .overtime-table td:first-child {
        padding-left: 12px;
    }

    .overtime-table table tbody tr:hover {
        background-color: var(--color-hover) !important;
        cursor: pointer;
    }

    .overtime-table table thead th {
        background-color: var(--color-wild-sand) !important;
    }

    .overtime-table table tr {
        height: 46px !important;
        font-size: 14px;
    }

    .overtime-table table tbody tr:hover td {
        color: var(--color-white) !important;
    }

    .overtime-table table th {
        padding: 8px 10px;
    }

    .overtime-table table td {
        padding: 8px 10px;
    }

    .overtime-pagination {
        width: 100%;
        height: 46px;
        font-size: 15px !important;
        padding: 0 12px;
        background-color: var(--color-wild-sand) !important;
    }

    .pagination-paging > nav {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .pagination-paging > nav ul {
        margin-bottom: 0px;
    }
</style>