@using OVERTIME.MANAGER.MAIN.ViewModels;

@{
    ViewData["Title"] = "Overtime Detail";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    var navigatorActive = new NavigatorActive { navigatorActive = "Index" };
}

@section header
{
    <partial name="~/Views/OvertimeManager/_HeaderOM.cshtml" model="navigatorActive" />
}

<main class="container-fluid overtime-main">
    <div class="overtime-wrapper py-3">
        <!-- Heading -->
        <div class="overtime-heading d-flex align-items-center justify-content-between pb-3">
            <div class="fs-5 fw-bold">Overtime Detail</div>
            <div class="btn-group-wrapper">
                <button type="button" class="btn btn-primary btn-add">
                    <span>Save</span>
                </button>
                <a type="button" class="btn btn-danger btn-add" asp-controller="OvertimeManager" asp-action="Index">
                    <span>Cancel</span>
                </a>
            </div>
        </div>

        <!-- Content -->
        <div class="overtime-content flex-row align-items-center justify-content-between">
        </div>
    </div>
</main>