:root {
    --color-primary: #4154f1;
    --color-secondary: #717ef4;
    --color-hover: #717ef4;
    --color-gallery: #EEEEEE;
    --color-seashell: #f1f1f1;
    --color-alto: #DDDDDD;
    --color-white: #fff;
    --color-black: #000;
    --color-resolution-blue: #013289;
    --color-wild-sand: #f5f5f5;
    --color-cinnabar: #e74c3c;
    --color-mountain-meadow: #11aa7a;
    --color-ice-cold: #B9F8E4;
    --color-bridesmaid: #FEE8E7;
    --color-omegranate: #EF292F;
    --color-royal-blue: #6153DF;
    --color-selago: #EBE9FB;
    --color-red: red;
    --color-silver: #ccc;
    
    --header-height: 52px;
}
