<footer id="footer" class="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to receive the information as soon as possible</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="~/assets/images/logo/logo-circle.png" alt="Logo OvertimeManager">
                        <span>OvertimeManager</span>
                    </a>
                    <p>OM is a software that helps you manage overtime orders quickly, effectively, save costs as well as time, while ensuring your own productivity.</p>
                    <div class="social-links mt-3">
                        <a href="/" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="/" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#faq">FAQ</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-controller="Home" asp-action="TermsOfService">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-controller="Home" asp-action="PrivacyPolicy">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-action="Login" asp-controller="Home">Login</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-action="Register" asp-controller="Home">Register</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-controller="OvertimeManager" asp-action="Index">Overtime Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#features">Features</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/">Settings</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        3 Cau Giay<br>
                        Lang Thuong, Dong Da<br>
                        Hanoi, Vietnam <br><br>
                        <strong>Phone:</strong> +84 987654321<br>
                        <strong>Email:</strong> overtimemanager@gmail.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>OvertimeManager</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by Group 2 - CNTT2 K61 University of Transport and Communication
        </div>
    </div>
</footer>