<header id="header" class="header fixed-top">
    <div class="unselect container-fluid container-xl d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <a href="/" class="logo d-flex align-items-center">
            <img src="~/assets/images/logo/logo-circle.png" alt="Logo OvertimeManager">
            <span>OM</span>
        </a>

        <!-- Navigation -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li>
                    <a asp-action="Index" asp-controller="OvertimeManager" class="nav-link scrollto" >Overtime Manager</a>
                </li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" asp-action="Logout" asp-controller="Access">Logout</a></li>
            </ul>

            <!-- Logo navigation trên mobile -->
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>