.overtime-container-add .overtime-field {
    margin-bottom: 14px;
}

.overtime-below-right button {
    margin-top: 10px;
}

.overtime-toolbar {
    padding: 12px;
    margin-left: 0;
    display: flex;
}

.overtime-toolbar-hide {
    display: none;
    margin: 4px 0px;
}

.overtime-add-search {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    margin-left: 16px;
}

.modal-dialog-add-overtime {
    position: absolute;
    margin: 0;
    left: 50% !important;
    top: 16px !important;
    width: 768px !important;
    max-width: unset !important;
    transform: translateX(-50%) !important;
}

.modal-dialog-add-overtime table thead tr th:first-child,
.modal-dialog-add-overtime table tbody tr td:first-child {
    width: 40px;
}

.modal-dialog-add-overtime .modal-body {
    padding: 0 !important;
}

.modal-dialog-add-overtime table tbody {
    display: block;
    overflow: auto;
    height: 300px;
    width: 100%;
}

.modal-dialog-add-overtime thead, tbody tr {
    display: table;
    width: 100%;
    height: 48px !important;
    table-layout: fixed;
}

.modal-dialog-add-overtime table,
.modal-dialog-add-overtime thead {
    width: 100%;
}

.modal-dialog-add-overtime table {
    margin-bottom: 0;
}

.modal-dialog-add-overtime .overtime-pagination {
    padding: 10px 16px 10px;
}

.modal-dialog-add-overtime table thead {
    background-color: var(--color-wild-sand) !important;
}

.unselect-all {
    color: var(--color-red);
    margin: 0 20px !important;
    cursor: pointer;
}