.overtime-container-add .form-group + .form-group {
    margin-top: 14px;
}

.overtime-container-add .control-label {
    margin-bottom: 6px;
}

.overtime-below-right button {
    margin-top: 10px;
}

.overtime-content-detail form {
    width: 100% !important;
}

.overtime-content-row {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.overtime-container-add .overtime-content-left,
.overtime-container-add .overtime-content-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-submit-add {
    margin-top: 20px !important;
    width: 100% !important;
}

.btn-submit-add input {
    width: 100% !important;
}